@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:#ebecf0;
  font-family: 'Poppins', sans-serif;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contanner-login{
  position: absolute;
  bottom: calc(50% + -200px);
  left: calc(50% + -150px);
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #fdfdfd, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.contanner-login button{
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #fdfdfd, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 24px;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #22ff82, #21bdff, #5433ff);
  padding: 12px;
}

.contanner-login button:disabled{
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #fdfdfd, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 24px;
  color: #cccccc;
  padding: 12px;
  transition: 2s,
}

.contanner-login input{
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #fdfdfd, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 24px;
  text-align: center;
  width: 200px;
  padding: 16px;
  transition: 2s;
}

.contanner-login input:hover{
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: inset -3px -3px 6px 2px #fdfdfd, inset 5px 5px 8px 0px rgba(0, 0, 0, 0.17), inset 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 24px;
  text-align: center;
  width: 200px;
  padding: 16px;
}

.vs{
  font-size: 36px;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #22ff82, #21bdff, #5433ff);
}